#form-conta {
    display:inline-block;
    width: 60%;
}

#button-alterar{
    background-color: #44ffdd;
    font-weight: bold;
    color:#23272B;
    border-color: transparent;
    margin-left: 203%;
}

#button-deletar {
    background-color: #23272B;
    font-weight: bold;
    color: #44ffdd;
    border-color: #44ffdd;
    border-width: 2px;
    margin-right: 100%;
}

h3 {
    color: #44ffdd;
}